<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Log in</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link rel="stylesheet" href="/custom.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/custom.js"></script>
</head>

<body>
<div th:replace="/fragments/navbar"></div>
<div class="container justify-content-center">
    <div class="container">
      <h2>Welcome to Shanta's Twitter App!</h2>
        <style>
            h2{
            color:#8B0A50;
            }
        </style>
    <div class="container">
        <div class="row">
            <div class="col bg-light text-center">

                <form th:action="@{/login}" method="post">
<!--                    <div class="form-row align-items-center">-->

                    <input type="text" id="username" name="username" th:placeholder="Username" class="form-control"/>
                    <br> <input type="password" th:placeholder="Password" id="password" name="password"
                                class="form-control"/>
                    <div align="center" th:if="${param.error}">
                        <h4 style="color: red">Login unsuccessful.</h4>
                    </div>

                    <div class="col-auto align-item-left">
                        <button class="btn col-md-6 btn-success log"  name="Submit" value="Login" type="Submit">Log
                            in
                        </button>
                    </div>
<!--                        <div class="col-auto " th:action="@{/signup}" method="post">-->
<!--                            <button class="btn btn-md btn-success" style="background-color:#0091ad" name="Submit">Sign Up</button>-->

<!--                        </div>-->


<!--                        <span th:action="@{/signup}" method="post">-->
<!--                        <button class="btn col-md-6 btn-primary" style="background-color:#0091ad" name="Submit">Sign Up</button></span>-->

<!--                    </div>-->
                    </div>
                </form>

            <div class="col-auto align-item-left sign ">
            <form th:action="@{/signup}" method="post">
                <button class="btn  col-md-6 btn-primary" style="background-color:#0091ad" name="Submit">Sign
                    Up
                </button>
            </form>

            </div>
        </div>
    </div>
</div>
</div>


</body>


</html>
	